docs/internal/Combined.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetConfiguration" targetNamespace="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic" xmlns:tns="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic">
      <xsd:element name="GetConfiguration" type="xsd:string"/>
      <xsd:element name="GetConfigurationResponse">
		<xsd:complexType>
			<xsd:sequence>
	<xsd:element name="emailboxes" maxOccurs="1" minOccurs="1">
		<xsd:complexType>
			<xsd:sequence>
  				<xsd:element name="emailbox" maxOccurs="unbounded" minOccurs="1">
					<xsd:complexType name="ctEmailBox">
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="host" type="xsd:string" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="port" type="xsd:int" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="type" maxOccurs="1" minOccurs="1">
								<xsd:simpleType name="stEmailBoxType">
									<xsd:restriction base="xsd:string">
								    	<xsd:enumeration value="IMAP"/>
								      	<xsd:enumeration value="POP3"/>
								    </xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="username" type="xsd:string" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="pollinterval" type="xsd:int" maxOccurs="1" minOccurs="0"/>
							<xsd:element name="folders" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
								    <xsd:sequence>
								    	<xsd:element name="folder" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
								    </xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="triggers" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="trigger" maxOccurs="unbounded" minOccurs="1">
											<xsd:complexType>
												<xsd:attribute name="appliesTo" type="xsd:string"/>
												<xsd:attribute name="onetimeonly" type="xsd:boolean"/>
												<xsd:sequence>
													<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
													<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
													<xsd:element name="combineemails" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
													<xsd:element name="rules" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="rule" maxOccurs="unbounded" minOccurs="1">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="pattern" maxOccurs="unbounded" minOccurs="1">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="value" type="xsd:string" maxOccurs="1" minOccurs="1"/>
																						<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="0"/>
																						<xsd:element name="replacement" maxOccurs="1" minOccurs="0">
																							<xsd:complexType>
														    									<xsd:sequence>
														      										<xsd:element name="token" maxOccurs="unbounded" minOccurs="1">
														      											<xsd:complexType>
																											<xsd:sequence>
														      													<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
														      													<xsd:element name="value" maxOccurs="1" minOccurs="1">
																													<xsd:complexType>
																														<xsd:attribute name="src">
																															<xsd:simpleType>
																																<xsd:restriction base="xsd:string">
																																	<xsd:enumeration value="FIXED"/>
																																	<xsd:enumeration value="STORAGE"/>
																																</xsd:restriction>
																															</xsd:simpleType>
																														</xsd:attribute>
																													</xsd:complexType>
														      													</xsd:element>
														    												</xsd:sequence>
																										</xsd:complexType>
														      										</xsd:element>
														    									</xsd:sequence>
														  									</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="store" maxOccurs="1" minOccurs="0">
																							<xsd:complexType>
														    									<xsd:sequence>
														      										<xsd:element name="token" maxOccurs="unbounded" minOccurs="1">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
																												<xsd:element name="value" maxOccurs="1" minOccurs="1">
																													<xsd:complexType>
																														<xsd:attribute name="src">
																															<xsd:simpleType>
																																<xsd:restriction base="xsd:string">
																																	<xsd:enumeration value="FIXED"/>
																																	<xsd:enumeration value="PATTERN"/>
																																</xsd:restriction>
																															</xsd:simpleType>
																														</xsd:attribute>
																													</xsd:complexType>
																												</xsd:element>
																											</xsd:sequence>
																										</xsd:complexType>
														      										</xsd:element>
														    									</xsd:sequence>
														  									</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																					<xsd:attribute name="type">
																						<xsd:simpleType>
																							<xsd:restriction base="xsd:string">
																								<xsd:enumeration value="REGEX"/>
																								<xsd:enumeration value="HEADER"/>
																								<xsd:enumeration value="XPATH"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:attribute>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="section">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="FROM"/>
																					<xsd:enumeration value="TO"/>
																					<xsd:enumeration value="CC"/>
																					<xsd:enumeration value="HEADER"/>
																					<xsd:enumeration value="SUBJECT"/>
																					<xsd:enumeration value="MULTIPART"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="message" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="method" type="xsd:string" maxOccurs="1" minOccurs="1"/>
																<xsd:element name="namespace" type="xsd:string" maxOccurs="1" minOccurs="1"/>
																<xsd:element name="user" type="xsd:string" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="sync" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="repeatingxpath" type="xsd:string" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="organization" type="xsd:string" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="soapdn" type="xsd:string" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="timeout" type="xsd:long" maxOccurs="1" minOccurs="0"/>
																<xsd:element name="mappings" maxOccurs="1" minOccurs="0">
																	<xsd:complexType>
														    			<xsd:sequence>
														      				<xsd:element name="mapping" maxOccurs="unbounded" minOccurs="1">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="source" type="xsd:string" maxOccurs="1" minOccurs="1"/>
																						<xsd:element name="value" maxOccurs="1" minOccurs="1">
																							<xsd:complexType>
														    									<xsd:attribute name="src" type="xsd:string"/>
														  									</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
														      				</xsd:element>
														    			</xsd:sequence>
														  			</xsd:complexType>	
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>  				
  				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
			</xsd:sequence>
		</xsd:complexType>

</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetConfigurationInput">
    <wsdl:part element="tns:GetConfiguration" name="body"/>
  </wsdl:message>
  <wsdl:message name="GetConfigurationOutput">
    <wsdl:part element="tns:GetConfigurationResponse" name="body"/>
  </wsdl:message>
  <wsdl:portType name="GetConfigurationPortType">
    <wsdl:operation name="GetConfigurationOperation">
      <wsdl:input message="tns:GetConfigurationInput"/>
      <wsdl:output message="tns:GetConfigurationOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetConfigurationBinding" type="tns:GetConfigurationPortType">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetConfigurationOperation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="lsiteral"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetConfigurationService">
    <wsdl:port binding="tns:GetConfigurationBinding" name="GetConfigurationPort">
      <soap:address location="http://cnd0986/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=MRO,cn=cordys,o=vanenburg.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>