tags/2.0.9/docs/internal/GetConfiguration.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetConfiguration"
	targetNamespace="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic"
	xmlns:tns="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic">

			<xsd:include schemaLocation="emailbox.xsd"/>
			<xsd:element name="GetConfiguration" type="xsd:string"></xsd:element>
			<xsd:element name="GetConfigurationResponse"
				type="tns:ctEmailBoxesRoot">
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetConfigurationInput">
		<wsdl:part element="tns:GetConfiguration" name="body" />
	</wsdl:message>
	<wsdl:message name="GetConfigurationOutput">
		<wsdl:part element="tns:GetConfigurationResponse" name="body" />
	</wsdl:message>
	<wsdl:portType name="GetConfigurationPortType">
		<wsdl:operation name="GetConfigurationOperation">
			<wsdl:input message="tns:GetConfigurationInput" />
			<wsdl:output message="tns:GetConfigurationOutput" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetConfigurationBinding"
		type="tns:GetConfigurationPortType">
		<soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetConfigurationOperation">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="lsiteral" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetConfigurationService">
		<wsdl:port binding="tns:GetConfigurationBinding"
			name="GetConfigurationPort">
			<soap:address
				location="http://cnd0986/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=MRO,cn=cordys,o=vanenburg.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>