tags/2.0.9/docs/external/dynamic.xsd

<schema elementFormDefault="qualified" targetNamespace="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://emailioconnector.coe.cordys.com/2.0/inbound/dynamic" attributeFormDefault="unqualified">
  <element name="archiver" type="tns:ctArchiver" />
  <element name="search" type="tns:ctSearch" />
  <complexType name="ctArchiver">
    <sequence>
      <element name="class" type="string" maxOccurs="1" minOccurs="1" />
      <element name="parameters" type="tns:ctStorageParameters" maxOccurs="1" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="ctStorageParameters">
    <choice>
      <element name="parameter" maxOccurs="unbounded" minOccurs="1">
        <complexType mixed="true">
          <sequence>
            <any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
          <attribute name="name" type="string" use="required" />
          <attribute name="type" type="tns:stStorageParameterType" use="required" />
        </complexType>
      </element>
    </choice>
  </complexType>
  <simpleType name="stStorageParameterType">
    <restriction base="string">
      <enumeration value="string" />
      <enumeration value="xml" />
    </restriction>
  </simpleType>
  <complexType name="ctSearch">
    <sequence>
      <element name="EmailBoxID" type="string" maxOccurs="1" minOccurs="0" />
      <element name="FromCreateDate" type="dateTime" maxOccurs="1" minOccurs="0" />
      <element name="ToCreateDate" type="dateTime" maxOccurs="1" minOccurs="0" />
      <element name="FromCompleteDate" type="dateTime" maxOccurs="1" minOccurs="0" />
      <element name="ToCompleteDate" type="dateTime" maxOccurs="1" minOccurs="0" />
      <element name="FromStatusChangeDate" type="dateTime" maxOccurs="1" minOccurs="0" />
      <element name="ToStatusChangeDate" type="date" maxOccurs="1" minOccurs="0" />
      <element name="Status" type="string" maxOccurs="1" minOccurs="0" />
    </sequence>
  </complexType>



</schema>